<div class="grid justify-content-between pt-4 bg-blue" style="margin-bottom:-25px;">
    <div class="col-12 md:col-2 text-center md:text-left" style="margin-top: 50px;">
        <a class="cursor-pointer" href="#">
            <img src="assets/img/icons/armoiries-bon-2gg.png" alt="" style="" class="m-l-30 footer-icon">
        </a>
    </div>
    <div class="col-12 md:col-10 lg:col-9" style="margin-top: 50px;">
        <div class="grid text-center md:text-left">
            <!-- <div class="col-12 md:col-3">
                <h4 class="font-medium text-xl line-height-3 mb-3 text-900">Localisation</h4>
                <p>Avenue Mouammar Kadhafi, Ouagadougou</p>
                <p>International Airport, Burkina Faso</p>
            </div> -->

            <div class="col-12 md:col-4 mt-4 md:mt-0">
                <h4 class="font-medium text-xl line-height-3 mb-3 text-900 text-white">Contacts</h4>
                <a class="line-height-3 block cursor-pointer mb-2 text-700 text-white" href="">Burkina Faso/Avenue Mouammar Kadhafi</a>
                <a class="line-height-3 block cursor-pointer mb-2 text-700 text-white" href="tel://">Téléphone: 02 24 76 77</a>
                <a class="line-height-3 block cursor-pointer mb-2 text-700 text-white" href="mailto://">Email: cnamucnamu@gmail.com</a>
                <!-- <div class="line-height-3 block cursor-pointer mb-2 text-700">
                    <a class="m-r-10"><p-button icon="pi pi-facebook" styleClass="p-button-info"></p-button></a>
                    <a class=""><p-button icon="pi pi-youtube" styleClass="p-button-danger"></p-button></a>
                </div> -->
            </div>

            <div class="col-12 md:col-4 mt-4 md:mt-0">
                <h4 class="font-medium text-xl line-height-3 mb-3 text-900 text-white">Liens utiles</h4>
                <a class="line-height-3 block cursor-pointer mb-2 text-700 text-white">MFPTPS</a>
                <a class="line-height-3 block cursor-pointer mb-2 text-700 text-white">Primatures</a>
                <a class="line-height-3 block cursor-pointer mb-2 text-700 text-white">Ministère de la santé et de l'hygiène publique</a>
                <a class="line-height-3 block cursor-pointer mb-2 text-700 text-white">CARFO</a>
                <a class="line-height-3 block cursor-pointer text-700 text-white">CNSS</a>
            </div>

            <div class="col-12 md:col-4 mt-4 md:mt-0">
                <h4 class="font-medium text-xl line-height-3 mb-3 text-900 text-white">Nos services</h4>
                <a class="line-height-3 block cursor-pointer mb-2 text-700 text-white">Affiliation</a>
                <a class="line-height-3 block cursor-pointer mb-2 text-700 text-white">Immatriculation</a>
                <a class="line-height-3 block cursor-pointer mb-2 text-700 text-white">Cotisation</a>
                <a class="line-height-3 block cursor-pointer text-700 text-white">Prestation de soins</a>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-12">
        <p class="text-dark text-center" style="margin-bottom: 20px;">Copyright MFPTPS-SPMABG 2023</p>
    </div>
</div>
