.m-l-30{
    margin-left: 30px;
}
.m-r-10{
    margin-right: 10px;
}
.footer-icon{
    width:100%;
    border-radius: 50%;
}
@media (max-width: 712px) {
    .footer-icon{
        width:60%;
        border-radius: 50%;
    }
}