.text-right button {
    background-color: #4CAF50; /* Couleur de fond verte (changez-la selon vos préférences) */
    color: #ffffff; /* Couleur du texte blanc */
    border: 1px solid #4CAF50; /* Bordure de couleur verte */
    padding: 8px 16px; /* Ajustez la taille du bouton selon vos besoins */
}

.text-right button:hover {
    background-color: #45a049; /* Couleur de fond verte plus sombre au survol */
}
