<!-- 
<div class="row" style="background: url('assets/img/Accueil1.png') no-repeat;background-size:100%; padding-left: 0%; padding-right: 0%; padding-top:50px; padding-bottom:250px;height: 600px;">
    <div class="col-md-12">
        <h5 class="text-center font-30 font-bold text-blue">BIENVENUS</h5>
    </div>
</div>
<div class="row" style="background: url('assets/img/Accueil2.png') no-repeat;background-size:100%; padding-left: 10%; padding-right: 10%; padding-top:50px; padding-bottom:250px;height: 600px;">
    <div class="col-md-4">
        <img src="assets/img/dg.jpeg" alt="" style="border-radius: 100%;" width="100%">
        <h5 class="text-center">Soumaïla GAMSORÉ</h5>
    </div>
    <div class="col-md-6 text-dark justify">
        <h4 class="justify text-dark font-bold">Mot du Directeur General</h4>
        <p>L'Assurance maladie universelle est un dispositif chargé d'assurer un individu face à des risques.</p>
        <p class="mt-3">En vue d’assurer pleinement sa mission de prise en charge des soins de santé de la population dans la mise en œuvre du RAMU, la CNAMU doit se doter d’outils opérationnels qui lui sont propres et indispensables pour une gestion plus efficiente du RAMU. </p>
        <p class="mt-3">Dans ce même ordre d’idée, il apparait important pour la CNAMU d’avoir un meilleur système de codification des prestataires de soins de santé. En outre, pour une gestion moderne des prestations, la digitalisation est indispensable</p>
        <div class="float-right"><a href="#about" class="btn-get-started scrollto">En savoir plus...</a></div>
    </div>
</div>
<div class="row " style="background-color: white; padding-left: 0%; padding-right: 0%; padding-top:50px; padding-bottom:50px; margin-top: -170px; margin-left: 10%; margin-right: 10%; border-radius: 30px; margin-bottom: 100px;">
    <div class="col-md-12" style="margin-bottom: 0px;">
        <h2 class="text-left text-blue">Nos missions</h2>
        
    </div>
    <div class="col-md-2 text-center">
        <img src="assets/img/icons/img4-icone1.png" alt="" style="padding:10px; border-radius: 0%; margin-right: 10px; margin-bottom: 10px;" width="100%">
        <p class="text-blue font-bold">Affiliation des employeurs</p>
    </div>
    <div class="col-md-2 text-center">
        <img src="assets/img/icons/img5-icone2.png" alt="" style="padding:10px; border-radius: 0%; margin-right: 10px; margin-bottom: 10px;" width="100%">
        <p class="text-blue font-bold">Conventionnement</p>
    </div>
    <div class="col-md-2 text-center">
        <img src="assets/img/icons/img6-icone3.png" alt="" style="padding:10px; border-radius: 0%; margin-right: 10px; margin-bottom: 10px;" width="100%">
        <p class="text-blue font-bold">Paiement des prestations de soins de santé</p>
    </div>
    <div class="col-md-2 text-center">
        <img src="assets/img/icons/img7-icone4.png" alt="" style="padding:10px; border-radius: 0%; margin-right: 10px; margin-bottom: 10px;" width="100%">
        <p class="text-blue font-bold">Encaissement et recouvrement de la cotisation</p>
    </div>
    <div class="col-md-2 text-center">
        <img src="assets/img/icons/img8-icone5.png" alt="" style="padding:10px; border-radius: 0%; margin-right: 10px; margin-bottom: 10px;" width="100%">
        <p class="text-blue font-bold">Contrôle de qualité des prestations de soins de santé</p>
    </div>
    <div class="col-md-2 text-center">
        <img src="assets/img/icons/img9-icone6.png" alt="" style="padding:10px; border-radius: 0%; margin-right: 10px; margin-bottom: 10px;" width="100%">
        <p class="text-blue font-bold">Immatriculation des assurés</p>
    </div>
 
</div>
<div class="row" style="background-color: #f4fbfe; padding-left: 10%; padding-right: 10%; padding-top:50px; padding-bottom:50px; margin-left: 0%; margin-right: 0%; border-radius: 0px;">
    <div class="col-md-12" style="margin-bottom: 0px;">
        <h3 class="uppercase text-center">Nos Services</h3>
       
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">
                    <img src="assets/img/fingerprint.svg" alt="" style="background-color: #e20202; padding:10px; border-radius: 30%; margin-right: 10px; margin-bottom: 10px;" width="75px">
                    <h3>Affiliation</h3>
                    <p>En vue d’assurer pleinement sa mission de prise en charge des soins de santé de la population dans la mise en œuvre du RAMU, la CNAMU</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body">
                    <img src="assets/img/fingerprint.svg" alt="" style="background-color: #fdcf02; padding:10px; border-radius: 30%; margin-right: 10px; margin-bottom: 10px;" width="75px">
                    <h3>Immatriculation</h3>
                    <p>En vue d’assurer pleinement sa mission de prise en charge des soins de santé de la population dans la mise en œuvre du RAMU, la CNAMU</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 m-t-30">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">
                    <img src="assets/img/fingerprint.svg" alt="" style="background-color: #238902; padding:10px; border-radius: 30%; margin-right: 10px; margin-bottom: 10px;" width="75px">
                    <h3>Cotisation</h3>
                    <p>En vue d’assurer pleinement sa mission de prise en charge des soins de santé de la population dans la mise en œuvre du RAMU, la CNAMU</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body">
                    <img src="assets/img/fingerprint.svg" alt="" style="background-color: #1e88e0; padding:10px; border-radius: 30%; margin-right: 10px; margin-bottom: 10px;" width="75px">
                    <h3>Prestation</h3>
                    <p>En vue d’assurer pleinement sa mission de prise en charge des soins de santé de la population dans la mise en œuvre du RAMU, la CNAMU</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="background-color: #047ada; padding-left: 10%; padding-right: 10%; padding-top:50px; padding-bottom:50px; margin-left: 0%; margin-right: 0%; border-radius: 0px;">
    <div class="col-md-12 text-center" style="margin-bottom: 50px;">
        <h3 class="uppercase text-center text-white">Notre newsletter</h3>
        <p class="text-center text-white">Veuillez souscrire pour recevoir les informations en temps réel</p>
        <input type="email" placeholder="Entrez votre email ici" pInputText style="width:50%; border-top-left-radius: 5px; border-bottom-left-radius: 5px; border-color: transparent; height: 33px; padding-left: 10px; padding-right: 10px;" /> <button class="btn btn-dark">Souscrire</button>
    </div>
</div> -->