<div class="grid">
    
    <!-- <div class="col-12 md:col-6 xl:col-3">
        <div class="card h-full shadow">
            <span class="font-semibold text-lg">Employeurs</span>
            <div class="flex justify-content-between align-items-start mt-3">
                <div class="">
                    <span style="font-weight: bold;font-size: 22px;">{{cards?.nombreTotalAffilie}}</span>
                    <div class="text-green-500">
                        <span class="font-medium">+12%</span>
                        <i class="pi pi-arrow-up text-xs ml-2"></i>
                    </div>
                </div>
                <div class="w-6"> 
                    <svg width="100%" viewBox="0 0 258 96" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 93.9506L4.5641 94.3162C8.12821 94.6817 15.2564 95.4128 22.3846 89.6451C29.5128 83.8774 36.641 71.6109 43.7692 64.4063C50.8974 57.2018 58.0256 55.0592 65.1538 58.9268C72.2821 62.7945 79.4103 72.6725 86.5385 73.5441C93.6667 74.4157 100.795 66.2809 107.923 65.9287C115.051 65.5765 122.179 73.0068 129.308 66.8232C136.436 60.6396 143.564 40.8422 150.692 27.9257C157.821 15.0093 164.949 8.97393 172.077 6.43766C179.205 3.9014 186.333 4.86425 193.462 12.0629C200.59 19.2616 207.718 32.696 214.846 31.0487C221.974 29.4014 229.103 12.6723 236.231 5.64525C243.359 -1.38178 250.487 1.29325 254.051 2.63076L257.615 3.96827" style="stroke-width:2px;stroke:var(--primary-color)" stroke="10"/>
                    </svg>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="col-12 md:col-6 xl:col-3">
        <div class="card h-full shadow">
            <span class="font-semibold text-lg">Assurés</span>
            <div class="flex justify-content-between align-items-start mt-3">
                <div class="">
                    <span style="font-weight: bold;font-size: 22px;">{{cards?.nombreTotalAssure}}</span>
                    <div class="text-green-500">
                        <span class="font-medium">+0%</span>
                        <i class="pi pi-arrow-up text-xs ml-2"></i>
                    </div>
                </div>
                <div class="w-6"> 
                    <svg width="100%" viewBox="0 0 258 96" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 93.9506L4.5641 94.3162C8.12821 94.6817 15.2564 95.4128 22.3846 89.6451C29.5128 83.8774 36.641 71.6109 43.7692 64.4063C50.8974 57.2018 58.0256 55.0592 65.1538 58.9268C72.2821 62.7945 79.4103 72.6725 86.5385 73.5441C93.6667 74.4157 100.795 66.2809 107.923 65.9287C115.051 65.5765 122.179 73.0068 129.308 66.8232C136.436 60.6396 143.564 40.8422 150.692 27.9257C157.821 15.0093 164.949 8.97393 172.077 6.43766C179.205 3.9014 186.333 4.86425 193.462 12.0629C200.59 19.2616 207.718 32.696 214.846 31.0487C221.974 29.4014 229.103 12.6723 236.231 5.64525C243.359 -1.38178 250.487 1.29325 254.051 2.63076L257.615 3.96827" style="stroke-width:2px;stroke:var(--primary-color)" stroke="10"/>
                    </svg>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="col-12 md:col-6 xl:col-3">
        <div class="card h-full shadow">
            <span class="font-semibold text-lg">Cartes produites</span>
            <div class="flex justify-content-between align-items-start mt-3">
                <div class="">
                    <span style="font-weight: bold;font-size: 22px;">{{cards?.nombreTotalCarte}}</span>
                    <div class="text-green-500">
                        <span class="font-medium">+0%</span>
                        <i class="pi pi-arrow-up text-xs ml-2"></i>
                    </div>
                </div>
                <div class="w-6"> 
                    <svg width="100%" viewBox="0 0 258 96" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 93.9506L4.5641 94.3162C8.12821 94.6817 15.2564 95.4128 22.3846 89.6451C29.5128 83.8774 36.641 71.6109 43.7692 64.4063C50.8974 57.2018 58.0256 55.0592 65.1538 58.9268C72.2821 62.7945 79.4103 72.6725 86.5385 73.5441C93.6667 74.4157 100.795 66.2809 107.923 65.9287C115.051 65.5765 122.179 73.0068 129.308 66.8232C136.436 60.6396 143.564 40.8422 150.692 27.9257C157.821 15.0093 164.949 8.97393 172.077 6.43766C179.205 3.9014 186.333 4.86425 193.462 12.0629C200.59 19.2616 207.718 32.696 214.846 31.0487C221.974 29.4014 229.103 12.6723 236.231 5.64525C243.359 -1.38178 250.487 1.29325 254.051 2.63076L257.615 3.96827" style="stroke-width:2px;stroke:var(--primary-color)" stroke="10"/>
                    </svg>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="col-12 md:col-6 xl:col-3">
        <div class="card h-full bg-blue shadow" >
            <span class="font-semibold text-lg text-white">Cotisation du mois</span>
            <div class="flex justify-content-between align-items-start mt-3">
                <div class="">
                    <span class="text-white" style="font-weight: bold;font-size: 22px;">{{cards?.montantTotalCotisation}}</span>
                    <div class="text-green-500">
                        <span class="font-medium text-white">+0%</span>
                        <i class="pi pi-arrow-up text-xs ml-2"></i>
                    </div>
                </div>
                <div class="w-6"> 
                    <svg width="100%" viewBox="0 0 258 96" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 93.9506L4.5641 94.3162C8.12821 94.6817 15.2564 95.4128 22.3846 89.6451C29.5128 83.8774 36.641 71.6109 43.7692 64.4063C50.8974 57.2018 58.0256 55.0592 65.1538 58.9268C72.2821 62.7945 79.4103 72.6725 86.5385 73.5441C93.6667 74.4157 100.795 66.2809 107.923 65.9287C115.051 65.5765 122.179 73.0068 129.308 66.8232C136.436 60.6396 143.564 40.8422 150.692 27.9257C157.821 15.0093 164.949 8.97393 172.077 6.43766C179.205 3.9014 186.333 4.86425 193.462 12.0629C200.59 19.2616 207.718 32.696 214.846 31.0487C221.974 29.4014 229.103 12.6723 236.231 5.64525C243.359 -1.38178 250.487 1.29325 254.051 2.63076L257.615 3.96827" style="stroke-width:2px;stroke:var(--primary-color)" stroke="10"/>
                    </svg>
                </div>
            </div>
        </div>
    </div> -->

    <!-- <div class="col-12 xl:col-9">
        <div class="card h-full">
            <div class="flex align-items-start justify-content-between mb-6">
                <span class="text-900 text-xl font-semibold">ASSURES</span>
            </div>
            <p-chart type="bar" [data]="barData" [options]="barOptions" height="300px"></p-chart>
        </div>
    </div> -->
    <!-- <div class="col-12 xl:col-3">
        <div class="card h-full">
            <div class="text-900 text-xl font-semibold mb-6">Type d'asurés</div>
            <p-chart type="pie" [data]="pieData" [options]="pieOptions" height="300px"></p-chart>
        </div>
    </div> -->

    <!-- <div class="col-12 lg:col-12">
        <div class="card">
            <div class="flex flex-column md:flex-row md:align-items-start md:justify-content-between mb-3">
                <div class="text-900 text-xl font-semibold mb-3 md:mb-0">Evolution du nombre d’états nominatifs soumis par période et catégorie d’employeurs</div>
                <div class="inline-flex align-items-center">
                </div>
            </div>
            <table class="blueTable" >
                <thead>
                    <tr>
                        <th>Catégorie d'emploie</th>
                        <th *ngFor="let an of anneeAss">
                            {{an}}
                        </th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sectAss of listSectAssure">
                    <th>{{sectAss.typeAffilie}}</th>
                    <td *ngFor="let valAss of sectAss.valeur"> {{valAss}}</td>
                    </tr>
                </tbody>
              </table>
        </div>
    </div> -->

</div>
